extends layout

block content
  .container
    h1(style="font-size: 36px; margin-bottom: 20px; text-align: center;") Welcome to Batman's Home Page
    p(style="margin-bottom: 30px; text-align: center;") Not only in Gotham, experience Batman in your town!
    div(style="display: flex; flex-direction: column; align-items: center; margin-bottom: 30px;")
      p(style="margin-bottom: 20px; text-align: center;") Subscribe now and get a discount on Batmobile rentals.
      img(src="https://i.insider.com/620ef712462ff20019c59af9?width=700", style="max-width: 100%;")
    div(style="display: flex; flex-direction: column; align-items: center;")
      p(style="margin-bottom: 20px; text-align: center;") Your first three calls are free. Just turn on the Bat-Signal.
      img(src="https://i.pinimg.com/originals/a8/b6/40/a8b64045a048e36d673c0796dc4c1b61.png", style="max-width: 100%;")
