doctype html
html
  head
    title BATMAN
  body
    header(style="background-color: black; padding: 20px;")
      nav(style="display: flex; justify-content: space-between; align-items: center;")
        img(src="https://w7.pngwing.com/pngs/244/629/png-transparent-batman-logo-dc-comics-decal-batman-comics-heroes-poster.png" style="height: 40px;")
        ul(style="list-style-type: none; margin: 0; padding: 0;")
          li(style="display: inline-block; margin-right: 20px;")
            a(href="/" style="color: white; text-decoration: none; font-weight: bold; font-size: 16px;") Home
          li(style="display: inline-block; margin-right: 20px;")
            a(href="/services" style="color: white; text-decoration: none; font-weight: bold; font-size: 16px;") Services
          li(style="display: inline-block;")
            a(href="/contact" style="color: white; text-decoration: none; font-weight: bold; font-size: 16px;") Contact us
    main
      block content
footer 
p(style="text-align: center; color: black; font-size: 16px; padding: 20px;")
a(href="/") 