extends layout

block content
  h1 Batman's Services
  p(style="margin-bottom: 20px; text-align: center;text-weight: bold ; font-size: 28px") Batman offers a range of services to protect your city. Choose from the following options:

  ul
    li(style="margin-bottom: 20px; text-align: center;") Batmobile Rental
    li(style="margin-bottom: 20px; text-align: center;") Crime Investigation
    li(style="margin-bottom: 20px; text-align: center;") Personal Security Detail
    li(style="margin-bottom: 20px; text-align: center;") Night Patrol
    li(style="margin-bottom: 20px; text-align: center;") Villain Apprehension
